---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  BeforeElse: false
  BeforeCatch: false
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false
BreakConstructorInitializers: BeforeComma
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
...
